:host {
  overflow: hidden;
}

mat-card {
  overflow: hidden;
  display: grid!important;
  grid-template-rows: 1fr max-content;
  height: 100%;
  box-sizing: border-box;
}

table {
  width: 100%;
}

.action {
  min-width: 32px;
  padding: 0;
}

.action-align {
  text-align: right;
}

.table-container {
  overflow-y: scroll;
}

.mat-paginator-container {
  justify-content: flex-start!important;
}
