:host {
  overflow: hidden;
  display: grid;
  height: 100%;
}

table {
  width: 100%;
}

.action {
  min-width: 32px;
  padding: 0;
}

.action-align {
  text-align: right;
}

.table-container {
  overflow-y: scroll;
}
