<mat-card class="editor" [class.editor-handset]="isHandset()">

    <form [formGroup]="form">

      <ng-container *ngFor="let field of model?.fields || []">

        <mat-form-field *ngIf="(field.type == 'STRING' || field.type == 'NUMBER') && field.reference != 'id'">
          <mat-label>{{ this.descriptor.localizationKey(field.reference) | transloco }}</mat-label>
          <input matInput [formControlName]="field.reference">
        </mat-form-field>

        <mat-form-field *ngIf="field.type == 'OBJECT'">
          <mat-label>{{ this.descriptor.localizationKey(field.reference) | transloco }}</mat-label>
          <object-selector [api]="field.api" [formControlName]="field.reference"></object-selector>
        </mat-form-field>

        <mat-form-field *ngIf="field.type == 'ENUM'">
          <mat-label>{{ this.descriptor.localizationKey(field.reference) | transloco }}</mat-label>
          <enum-selector [api]="field.api" [localizationKey]="field.localizationKey" [formControlName]="field.reference"></enum-selector>
        </mat-form-field>

        <mat-form-field *ngIf="field.type == 'DATE'">
          <mat-label>{{ this.descriptor.localizationKey(field.reference) | transloco }}</mat-label>
          <input matInput [matDatepicker]="date" [formControlName]="field.reference">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>

        <mat-slide-toggle *ngIf="field.type == 'BOOLEAN'" [formControlName]="field.reference">
          {{ this.descriptor.localizationKey(field.reference) | transloco }}
        </mat-slide-toggle>

      </ng-container>

    </form>

</mat-card>
