<mat-card class="editor" [class.editor-handset]="isHandset()">

  <form [formGroup]="form">

    <ng-container *ngFor="let field of model || []">

      <mat-form-field *ngIf="(field.type == 'STRING' || field.type == 'NUMBER') && field.name != 'id'">
        <mat-label>{{ field.localization | transloco }}</mat-label>
        <input matInput [formControlName]="field.name">
      </mat-form-field>

      <mat-form-field *ngIf="field.type == 'OBJECT'">
        <mat-label>{{ field.localization | transloco }}</mat-label>
        <object-selector [api]="endpoint(field)" [formControlName]="field.name"></object-selector>
      </mat-form-field>

      <!--        <mat-form-field *ngIf="field.type == 'ENUM'">-->
      <!--          <mat-label>{{ field.localization | transloco }}</mat-label>-->
      <!--          <enum-selector [api]="field.endpoint" [localizationKey]="field.localization" [formControlName]="field.reference"></enum-selector>-->
      <!--        </mat-form-field>-->

      <mat-form-field *ngIf="field.type == 'DATETIME'">
        <mat-label>{{ field.localization | transloco }}</mat-label>
        <input matInput [matDatepicker]="date" [formControlName]="field.name">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>

      <mat-slide-toggle *ngIf="field.type == 'BOOLEAN'" [formControlName]="field.name">
        {{ field.localization | transloco }}
      </mat-slide-toggle>

    </ng-container>

  </form>

</mat-card>
