<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Code Card' + ${code}"></title>
</head>
<body>
    <table>
        <thead>

        </thead>
        <tbody>
            <tr>
                <td th:width="150px"></td>
                <td th:width="80px"></td>
                <td th:width="100px" th:align="right" th:text="${#numbers.formatDecimal(data.before().dtAmount(), 1, 2)}"></td>
                <td th:width="80px"></td>
                <td th:width="100px" th:align="right" th:text="${#numbers.formatDecimal(data.before().ctAmount(), 1, 2)}"></td>
            </tr>
            <tr th:each="entry : ${data.operations()}">
                <td th:width="150px" th:text="${#temporals.format(entry.date(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:width="80px" th:align="center" th:text="${entry.dt()}"></td>
                <td th:width="100px" th:align="right" th:text="${#numbers.formatDecimal(entry.dtAmount(), 1, 2)}"></td>
                <td th:width="80px" th:align="center" th:text="${entry.ct()}"></td>
                <td th:width="100px" th:align="right" th:text="${#numbers.formatDecimal(entry.ctAmount(), 1, 2)}"></td>
            </tr>
            <tr>
                <td th:width="150px"></td>
                <td th:width="80px"></td>
                <td th:width="100px" th:align="right" th:text="${#numbers.formatDecimal(data.turnover().dtAmount(), 1, 2)}"></td>
                <td th:width="80px"></td>
                <td th:width="100px" th:align="right" th:text="${#numbers.formatDecimal(data.turnover().ctAmount(), 1, 2)}"></td>
            </tr>
            <tr>
                <td th:width="150px"></td>
                <td th:width="80px" th:align="center"></td>
                <td th:width="100px" th:align="right" th:text="${#numbers.formatDecimal(data.after().dtAmount(), 1, 2)}"></td>
                <td th:width="80px" th:align="center"></td>
                <td th:width="100px" th:align="right" th:text="${#numbers.formatDecimal(data.after().ctAmount(), 1, 2)}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>