<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turnover</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td align="center">Code</td>
                <td align="center">Dt</td>
                <td align="center">Ct</td>
                <td align="center">Dt</td>
                <td align="center">Ct</td>
                <td align="center">Dt</td>
                <td align="center">Ct</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${turnover}">
                <td width="50px" ><a th:text="${entry.code()}" th:href="@{'/code_card/' + ${entry.code()} + '?from=' + ${from} + '&to=' + ${to}}"></a></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(entry.beforeDt(), 1, 2)}"></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(entry.beforeCt(), 1, 2)}"></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(entry.turnoverDt(), 1, 2)}"></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(entry.turnoverCt(), 1, 2)}"></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(entry.afterDt(), 1, 2)}"></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(entry.afterCt(), 1, 2)}"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td width="50px"></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(total.beforeDt(), 1, 2)}"></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(total.beforeCt(), 1, 2)}"></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(total.turnoverDt(), 1, 2)}"></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(total.turnoverCt(), 1, 2)}"></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(total.afterDt(), 1, 2)}"></td>
                <td width="100px" align="right" th:text="${#numbers.formatDecimal(total.afterCt(), 1, 2)}"></td>
            </tr>
        </tfoot>
    </table>
</body>
</html>