:host {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
}

.content {
  display: grid;
  grid-template-rows: 0 1fr;
  background-color: #bdbdbd;
  padding: 0.5rem;
  box-sizing: border-box;
}

mat-toolbar {
  padding: 0;
  height: 56px;

  button {
    min-height: 56px;
    min-width: 56px;
  }

}

.right-side {
  width: 50%;
}

.right-side-handset {
  width: 100%;
}
