<mat-toolbar color="primary">
  <button mat-button (click)="left.toggle()"><mat-icon>menu</mat-icon></button>
  <span>Ledger</span>
  <span class="spacer"></span>
  <button mat-button *ngFor="let command of toolbarCommands()" (click)="command.executable()"><mat-icon>{{command.icon}}</mat-icon></button>
  <button mat-button *ngIf="hasNestedCommands()" [matMenuTriggerFor]="nested"><mat-icon>more_vert</mat-icon></button>
  <mat-menu #nested>
    <button mat-menu-item *ngFor="let command of nestedCommands()" (click)="command.executable()">
      <mat-icon>{{command.icon}}</mat-icon>{{ command.name }}
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #left position="start" class="left-side">
    <mat-nav-list>
      <a mat-list-item>References</a>
      <a mat-list-item>Documents</a>
      <a mat-list-item>Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav #right position="end" class="right-side" [class.right-side-handset]="isHandset()" disableClose>
    <ng-container #rightContainer></ng-container>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
